<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChickenCountDown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>989D72A01F282E9F00AEEABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>989D72B41F282E9F00AEEABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>989D72BF1F282E9F00AEEABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
