<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>firebaseprac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>982D16CF1F2F3BCF00A16930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>982D16E51F2F3BCF00A16930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>982D16F01F2F3BCF00A16930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
